name: Build mobile app

on:
    push:
        branches: ["main"]

jobs:
    build_android_apk:
        name: Build Android
        runs-on: ubuntu-latest
        steps:
            - name: Checkout respository
              uses: actions/checkout@v4
              with:
                submodules: 'recursive'

            - name: Setup Java
              uses: actions/setup-java@v4
              with:
                  distribution: "temurin"
                  java-version: 17
                  cache: gradle

            - name: Setup Flutter
              uses: subosito/flutter-action@v2
              with:
                  channel: stable
                  cache: true

            - name: Install dependencies
              run: flutter pub get

            - name: Build APK
              run: flutter build apk --release

            - name: Upload APK artifact
              uses: actions/upload-artifact@v4
              with:
                  name: android-release-apk
                  path: build/app/outputs/flutter-apk/app-release.apk

    build_ios_ipa:
        name: Build iOS
        runs-on: macos-latest
        steps:
            - name: Checkout respository
              uses: actions/checkout@v4
              with:
                submodules: 'recursive'

            - name: Setup Flutter
              uses: subosito/flutter-action@v2
              with:
                  channel: stable
                  cache: true
                  cache-key: "pub-cache-${{ runner.os }}-${{ hashFiles('pubspec.lock') }}"

            - name: Cache CocoaPods Dependencies
              uses: actions/cache@v4
              with:
                  path: |
                      ~/Library/Caches/CocoaPods
                  key: ${{ runner.os }}-pods-${{ hashFiles('ios/Podfile.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-pods-

            - name: Install dependencies
              run: flutter pub get

            - name: Build iOS IPA
              run: flutter build ipa --release --no-codesign

            - name: Upload IPA artifact
              uses: actions/upload-artifact@v4
              with:
                  name: ios-release-ipa
                  path: build/ios/ipa/*.ipa
