name: PR Checks and Code Quality

on:
    pull_request:
        branches: ["main"]

jobs:
    test-and-analyze:
        name: Test and analyze code
        runs-on: ubuntu-latest

        steps:
            - name: Checkout respository
              uses: actions/checkout@v4

            - name: Setup Flutter
              uses: subosito/flutter-action@v2
              with:
                  channel: stable
                  cache: true

            - name: Install dependencies
              run: flutter pub get

            - name: Run flutter analyze
              run: flutter analyze --no-pub

            - name: Run flutter test
              run: flutter test --no-pub
